<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.krypto">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--sub activites (like help, subcipherhelp, etc) !-->
        <activity android:name=".act_tools.nGram.nGramCounter"
            android:label="Krypto"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".act_tools.ioc.ioc"
            android:label="Krypto"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".act_tools.period.period"
            android:label="Krypto"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".act_tools.vingere.vigenere"
            android:label="Krypto"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".act_tools.transpo.transpo"
            android:label="Krypto"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".act_tools.Sub.SubCipher2"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activities.transposliderhelp"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            </activity>


        <activity android:name=".Help.vigHelp"
            android:label="Krypto"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Help.helpmenu"
            android:label="Krypto"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Help.transpohelp"
            android:label="Krypto"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Help.subdecrypthelp"
            android:label="Krypto"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Help.subencrypthelp"
            android:label="Krypto"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Help.imagehelp"
            android:label="Krypto"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Info.infoact"
            android:label="Krypto"
            android:theme="@style/AppTheme.NoActionBar"/>
        <!--Games-->
        <activity
            android:name=".Game.GameActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Game.stageclear"
            android:theme="@style/Theme.Transparent"/>
        <activity android:name=".Game.stagewrong"
            android:theme="@style/Theme.Transparent"/>
        <activity android:name=".Game.transit"
            android:theme="@style/Theme.Transparent"/>
        <activity android:name=".Game.viglvl"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Game.prologue"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Game.transpolvl"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Game.finallvl"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Game.ending"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>